*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgb(0, 0, 0);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(circle, rgba(221, 119, 55, 1), rgba(239, 239, 239, 1) ,rgba(0, 255, 46, 1));
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  
}

.container{
    position: relative;

}

.clock{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background-color: rgb(255,255,255,0.1);
    border: 4px solid rgb(155,125,105,0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 30px rgb(155,125,105,0.9);
}

.clock span{
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 20px;
    text-align: center;
}

.clock span b{

    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 20px;

}

.clock::before{
    content: ' ';
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: whitesmoke;

}

.hand{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;

}









